@font-face{
	font-family: 'RobotoMono';
	src:  url('./fonts/RobotoMono-Thin.ttf');
}

*{
	font-family: 'RobotoMono', monospace;
}
body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	color: #fff;
	background: linear-gradient(to right, rgb(31, 64, 55), rgb(153, 242, 200))

}